<navbarapointment></navbarapointment>
<div class="alert alert-success" role="alert" *ngIf="showAlert">
        Cita Borrada
      </div>

<div class="row" style="margin:30px 0px!important;">
    <div class="col-12">
        <h4>
            Cita
        </h4>
    </div>    
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Numero</th>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Tipo Cita</th>  
                    <th>Accion</th>                                
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="cita != undefined">
                        <!-- cita{{cita|json}} -->
                    <td>{{cita.Id}}</td>                    
                    <td>{{getPaciente(cita.PacienteId) }}</td> 
                    <td>{{cita.Fecha}}</td>
                    <td>{{getTipoCita(cita.TipoCitaId)}}</td>
                    <td>
                            <button type="button" (click)="Delete()" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>        
        </table>
        <!-- pacientes{{pacientes|json}}
        tipos{{tiposCitas|json}} -->
    </div>
</div>