<navbarapointment></navbarapointment>
<div class="alert alert-success" role="alert" *ngIf="showAlert">
    This is a success alert—check it out!
  </div>

<form>
  <div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
      <h4>User List</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
      <label for="exampleInputUser">test  --> regular user</label>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
      <label for="exampleInputUser">testadmin  --> admin</label>  
      </div>
    </div>
    </div>
  </div>
<div class="row">
    <div class="col-12">
    <div class="form-group">
      <label for="exampleInputUser">User</label>
      <input type="text" name="id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="User.Nombre">
      <small id="emailHelp" class="form-text text-muted">User Identification</small>
    </div>    
</div>
</div>
<div class="row">
    <div class="col-12">
    <button type="button" (click)="ValidateFields()" class="btn btn-primary">Login</button>
    </div>
</div>
  </form>